* { box-sizing: border-box; }

html, body { height: 100%; margin: 0; padding: 0; }

body {
  background: #f5f7fb;
  color: #1a1b1e;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,.18); border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: rgba(0,0,0,.26); }
